@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #3b3b3b;
}

body {
  background: var(--color-text);
}

.sidebar {
  width: 300px;
  height: 100vh;
  background: #fff;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}