@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #3b3b3b;
  --color-green: #67b569;
  --sidebar-width: 350px;
}

.icon-size {
  width: 30px;
  heigth: 30px;
}

body {
  background: #3b3b3b;
  color: #fff;
}

.layout {
  display: flex;
}

.container {
  flex-grow: 1;
  padding: 20px;
}

.logo-box {
  width: 300px;
  height: 70px;
  margin-bottom: 30px;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebar {
  width: var(--sidebar-width);
  padding: 5px 15px;
  border-right: 1px solid #fff;
  min-height: 100vh;
  background: #fff;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  width: 100%;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

ul li {
  width: 100%;
}

ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  transition: all 300ms ease-in-out;
}

.pet-box {
  width: 280px;
  height: 280px;
}

.pet-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
