@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #3b3b3b;
  --color-green: #67b569;
}

.icon-size {
  width: 30px;
  heigth: 30px;
}

body {
  background: #3b3b3b;
  color: #fff;
}

.layout {
  display: flex;
}

.container {
  flex-grow: 1;
  padding: 20px;
}

.logo-box {
  width: 150px;
  height: 50px;
  margin-bottom: 30px;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebar {
  width: 300px;
  padding: 20px;
  border-right: 1px solid #fff;
  min-height: 100vh;
  background: #fff;
  color: var(--color-text);
}

ul {
  list-style: none;
  width: 100%;
}

ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  transition: all 300ms ease-in-out;
}

