@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #3b3b3b;
  --color-green: #67b569;
}

body {
  background: var(--color-text);
}

.sidebar {
  width: 300px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  width: 150px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  width: 100%;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  border-left: 5px solid transparent;
  transition: all 0.5s ease-in-out;
}

ul li p {
  color: var(--color-text);
  font-weight: 600;
}

.li-active {
 width: 100%;
 background: rgba(103, 181, 105, 0.1);
 border-left: 5px solid var(--color-green);
}

.li-active p {
  color: var(--color-green);
}
